@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

#keyboard button,
#key-strip button,
#suggestions button {
    font-family: inherit;
}

#editor {
    font-size: max(1.08rem, 11px);
}

.ql-editor {
    font-family: inherit;
}
